.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
    width : 800px;
    height :  400px;
  }
  @media screen and (max-width: 780px) {
    .player-wrapper {
        position: relative;
        padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
        width : 450px;
        height :  50px;}
      
  }
  @media screen and (max-width: 500px) {
    .player-wrapper {
        position: relative;
        padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
        width : 320px;
        height :  50px;}
      
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }